<body>
  <div class="bg-black">
    <div class="container">
      
      
      
      <p class="ax-center max-w-96 lh-lg  text-center text-2xl mb-10">
        <img class="ax-center my-10 text-center w-32" src="https://psfonttk.com/wp-content/uploads/2020/05/Cursive-Capital-S.png" height="40px" width="60px"  />
        
        Thanks! for contect us our team will contact you soon <br>
        <%= @contact.subject%> <br>
         <a class="btn btn-info rounded-full fw-800 text-5xl py-4 ax-center mb-10 w-full w-lg-80" href="/products">SHOP NOW</a>
      </p>
     
    </div>
  </div>
    
    <div class="text-muted text-center my-6">
      noida sector 62.<br>
      we are here to serve you better experience<br>
      noida sector 63 201301 <br>
    </div>
  </div>
</body>