<!-- Section: Contact v.1 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold  my-5" style="text-align:center;">Contact us</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto pb-5">Plese leave your problem here and our team will contact you soon as per posible and plese mention your correct email id to contact you </p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-4">

      <!-- Form with header -->
      <div class="card">
        <div class="card-body">
          <!-- Header -->
          <div class=" btn btn-info " style="text-align:center; margin-top: -40px; margin-left: 130px;" >
            <h3 class="mt-2" ><i class="fas fa-envelope"></i> Write to us:</h3>
          </div><br>
          <p class="dark-grey-text" style="text-align:center;  ">We'll write rarely, but only the best content.</p>
          <!-- Body -->
          <%= form_with(model: @contact, local: true) do |form| %>
            <div class="md-form">
              <i class="fas fa-user " style="color:skyblue;"></i>
              <input type="text" id="form-name" class="form-control" placeholder="Your name" name=form[name]>
              <!-- <label for="form-name">Your name</label> -->
            </div>
            <div class="md-form">
              <i class="fas fa-envelope "style="color:skyblue;"></i>
              <input type="text" id="form-email" class="form-control" placeholder="Your email" name=form[email]>
              <!-- <label for="form-email">Your email</label> -->
            </div>
             <div class="md-form">
              <i class="fas fa-envelope "style="color:skyblue;"></i>
              <input type="number" id="form-phone" class="form-control" placeholder="Phone" name=form[phone]>
              <!-- <label for="form-email">Your email</label> -->
            </div>
            <div class="md-form">
              <i class="fas fa-tag "style="color:skyblue;"></i>
              <input type="text" id="form-Subject" class="form-control"placeholder="Subject" name=form[subject]>
              <!-- <label for="form-Subject">Subject</label> -->
            </div>
            <div class="md-form">
              <i class="fas fa-pencil-alt " style="color:skyblue;"></i>
              <textarea id="form-text" class="form-control md-textarea" rows="3" placeholder="Send message" name=form[message]></textarea>
             <!--  <label for="form-text">Send message</label> -->
            </div><br>

            <div class="text-center">
              <button class="btn btn-info">Submit</button>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Form with header -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!--Google map-->
      <div id="map-container-section" class="z-depth-1-half map-container-section " style="height: 0px">
        <iframe src="https://maps.google.com/maps?q=noida&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div>
      <!-- Buttons-->
      <div class="row text-center">
        <div class="col-md-4">
          <a class="btn-floating ">
            <i class="fas fa-map-marker-alt"style="color:skyblue;"></i>
          </a>
          <p>Noida sector 62</p>
          <p class="mb-md-0">Uttar Pradesh</p>
        </div>
        <div class="col-md-4">
          <a class="btn-floating">
            <i class="fas fa-phone"style="color:skyblue;"></i>
          </a>
          <p>+91-8178933987</p>
          <p class="mb-md-0">Mon - Fri, 8:00 PM- 6:00 AM</p>
        </div>
        <div class="col-md-4">
          <a class="btn-floating ">
            <i class="fas fa-envelope"style="color:skyblue;"></i>
          </a>
          <p>info@gmail.com</p>
          <p class="mb-0">sale@gmail.com</p>
        </div>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<style type="text/css">
	.map-container-section {
  overflow:hidden;
  padding-bottom:50%;
  position:relative;

  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:90.5%;
  position:absolute;
}
i{
	text-color: ;
}
</style>
<!-- Section: Contact v.1 -->