<div class="Order">
    <h2>Order has been canceled </h2>
    <h3><a href="/products" class="btn btn-info"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Contuniue shopping </a></h3>
    <h3>if you have any problem contect us <span><a href="/contacts" class="btn btn-outline-warning"> Contact us</a></span></h3>
</div>
<style type="text/css">
  .Order{
    margin-top:130px ;
    text-align: center;
    margin-bottom: 180px;
  }
</style>

